*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(127, 255, 212, 0.2);
  border: 1px solid black;

}

header{
  height: 624px;
}

.container{
  margin: 0 auto;
  max-width: 70%;
  
}

header .container{
  height: 100%;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

header .row{
  margin-bottom: 50px;
}

.col{
  padding: 0 10px;
}

header nav ul{
  list-style: none;
  display: flex;
}

header nav ul a{
  padding: 35px, 20px;
  margin: 0 20px;
}

header .navbar .row{
  justify-content: space-around;
  align-items: center;
  min-height: 10%;
  margin-top: 10px;
}

header .jumbotron .row{
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
}

header .row p{
 text-align: center;
 margin: 20px;
}

header .row .jumbotron p:first-child{
  max-height: 70%;
}

header .row .jumbotron p:last-child{
  max-height: 30%;
}