*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(127, 255, 212, 0.2);
  border: 1px dashed black;

}

header{
  height: 624px;
}

.container{
  margin: 0 auto;
  max-width: 100%;
}

header .container{
  height: 100%;
}

header .navbar{
  height: 10%;
  width: 70%;
}

header .jumbotron{
  height: 70%;
  width: 50%;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

header .row{
  margin-bottom: 50px;
}

.col{
  padding: 0 10px;
}

header nav ul{
  list-style: none;
  display: flex;
}

header nav ul a{
  padding: 35px, 20px;
  margin: 0 20px;
}

header .navbar .row{
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}

header .jumbotron .row{
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
  height: 100%;
}

/*-----------------Main--------------------*/
.w40{
  width: 40%;
}

.w60{
  width: 50%;
}

main .container{
  width: 70%;
  height: 600px;
}

.top, .bottom{
  display: flex;
}

main .container .row{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 50px;
}

main .row .col{
  justify-content: center;
  align-items: center;
  height: 90%;
  text-align: center;
  font-size: 20px;
  padding: 40px;
}

/*-------------------------Footer---------------------------*/

footer .container{
  width: 70%;
}

footer .container .row{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


footer .row .col{
  justify-content: center;
  align-items: center;
  height: 90%;
  text-align: center;
  font-size: 20px;
  padding: 40px;
}

footer .bottom .row{
  justify-content: space-between;
}

footer nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}



  

